{% block sidebar %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Projekte</span>
  </a>
  <hr>
  <p> + create Project</p>
  <ul class="nav nav-pills flex-column mb-auto">
    {% for project in projects %}
    <li class="nav-item"><a href="#" class="nav-link link-body-emphasis">{{ project }}</a></li>
    {% endfor %}
  </ul>
</div>
<script src="../static/js/sidebar.js"></script>
{% endblock %}