{% extends 'base.html' %}
{% block title %}PyTask - Login{% endblock %}
{% block content %}
<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('login_action') }}" method="post">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    <div class="form-floating">
      {{ form.username(class_="form-control", id="floatingInput", placeholder=" ") }}
      {{ form.username.label(for="floatingInput") }}
    </div>
    <div class="form-floating">
      {{ form.password(class_="form-control", id="floatingPassword", placeholder=" ") }}
      {{ form.password.label(for="floatingPassword") }}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</main>
{% endblock %}