<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{{ url_for('index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../static/pictures/logo.png" alt="" style="height: 60px;">
      </a>

      <p class="nav col-12 col-lg-auto me-lg-auto mb-2 ml-5 justify-content-center mb-md-0">
        The last Todo List App you'll ever need!
      </p>

      <div class="text-end">
        {% if logged_in == True %}
        <button type="button" class="btn btn-warning me-2" style="color: black;">
          <a class="nav-link" href="{{ url_for('tasks') }}">Tasks</a>
        </button>
        <button type="button" class="btn btn-warning me-2" style="color: black;">
          <a class="nav-link" href="{{ url_for('shell') }}">Web-Shell</a>
        </button>
        <button type="button" class="btn btn-warning me-2" style="color: black;">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </button>
        {% else %}
        <button type="button" class="btn btn-warning me-2" style="color: black;">
            <a class="nav-link" href="{{ url_for('login_action') }}">Login</a>
        </button>
        <button type="button" class="btn btn-warning">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </button>
        {% endif %} 

    </div>
    

    </div>
  </div>
</header>